/* This file contains css which are required for 5.3.x but not for 6.0.x */
.app-center-modal-mask .uiPopupWrapper {
    position:fixed;
}

.right-topNavigation-container {
    height:58px;
    display:flex;
    >* {
        margin:auto;
    }
}

.authorizedApplicationsContainer input[type="text"] {
    height:unset;
    min-height:40px;
}

.VuetifyApp #appLauncher .grey-color {
     color: #a8b3c5!important;
 }

.appCenterDrawer .content .appsContainer.row {
    padding: 0 12px;
}

.VuetifyApp .v-application .appAdminTabs .v-select {
    padding-top: 0px;
}
.applicationsAdmin {
  .listApplications {
    .addApplicationBtn {
      color: @baseBackgroundDefault !important;
    }
    .actionsBtn {
        color: @primaryColor !important;
      }
  }
}

